#root {
  max-width: 1080px;
  margin-inline: auto;
}
/* 
.nav-bar {
  max-width: 60%;
  margin-left: auto;
  padding: 1rem;
}

.nav-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
} */
